In [22]:
import os
import pandas as pd

In [27]:
path = '/Users/jinxuanchen/Files_Local/pointnet/Pointnet_Pointnet2_pytorch/data/s3dis/Stanford3dDataset_v1.2_Aligned_Version/Area_1/room_1'
files = os.listdir(path)
txts = []
for file in files:  #遍历⽂件夹
    position = path+file  #构造绝对路径，"\\"，其中⼀个'\'为转义符
    txts.append(position)
txts

['/Users/jinxuanchen/Files_Local/pointnet/Pointnet_Pointnet2_pytorch/data/s3dis/Stanford3dDataset_v1.2_Aligned_Version/Area_1/room_1.DS_Store',
 '/Users/jinxuanchen/Files_Local/pointnet/Pointnet_Pointnet2_pytorch/data/s3dis/Stanford3dDataset_v1.2_Aligned_Version/Area_1/room_1Annotations',
 '/Users/jinxuanchen/Files_Local/pointnet/Pointnet_Pointnet2_pytorch/data/s3dis/Stanford3dDataset_v1.2_Aligned_Version/Area_1/room_1room_1.txt']

In [12]:
for i in range(len(txts)):
    with open('/Users/jinxuanchen/Files_Local/pointnet/Pointnet_Pointnet2_pytorch/data/train/filelist.txt','w') as f:
        f.write(txts[i])

In [50]:
path = '/Users/jinxuanchen/Desktop/all/Area1/room_1/Annotations/'
files = os.listdir(path)
txts = []
for file in files:  #遍历⽂件夹
    position = path+file  #构造绝对路径，"\\"，其中⼀个'\'为转义符
    df = pd.read_csv(position,header = None,sep=',',dtype=float)
    # df = df.drop(df.columns[[6]],axis=1)
    df.to_csv('/Users/jinxuanchen/Desktop/all/Annotations/%s'%file,sep = ' ',header=0,index=0)
    print(file)

tree_2.txt
tree_3.txt
tree_1.txt
light_2.txt
tree_4.txt
tree_5.txt
light_1.txt
footway_8.txt
footway_9.txt
sign_1.txt
hangrail_10.txt
road_6.txt
road_7.txt
hangrail_11.txt
sign_2.txt
hangrail_13.txt
road_5.txt
cone_5.txt
cone_4.txt
road_4.txt
hangrail_12.txt
hangrail_8.txt
handrail_1.txt
cone_1.txt
road_1.txt
hangrail_9.txt
cone_3.txt
road_3.txt
hangrail_15.txt
hangrail_14.txt
road_2.txt
cone_2.txt
hangrail_7.txt
hangrail_6.txt
hangrail_4.txt
hangrail_5.txt
hangrail_2.txt
hangrail_3.txt
bin_1.txt
footway_4.txt
footway_5.txt
footway_7.txt
footway_6.txt
footway_13.txt
footway_2.txt
footway_3.txt
footway_12.txt
footway_10.txt
footway_1.txt
footway_11.txt

In [36]:
df = pd.read_csv('/Users/jinxuanchen/Desktop/all/part/bin/bin_1.txt',header = None,sep=',',dtype=float)
df

                   0              1          2     3     4     5        6
0      828058.747252  824293.376001  87.544502  48.0  59.0  61.0  16123.0
1      828058.756250  824293.370005  87.490501  66.0  70.0  71.0  13523.0
2      828058.746252  824293.376001  87.555501  55.0  66.0  70.0  16123.0
3      828058.744249  824293.375002  87.567501  59.0  71.0  75.0  14563.0
4      828058.743250  824293.375002  87.578502  67.0  77.0  84.0  14563.0
...              ...            ...        ...   ...   ...   ...      ...
41302  828060.173250  824294.628000  87.501501  92.0  87.0  93.0   1040.0
41303  828060.168249  824294.639002  87.499502  89.0  70.0  63.0   1040.0
41304  828060.180250  824294.631998  87.494501  56.0  43.0  35.0   1560.0
41305  828060.162249  824294.647005  87.495502  61.0  42.0  36.0   1040.0
41306  828060.164251  824294.685999  87.316501  46.0  41.0  37.0   1040.0

[41307 rows x 7 columns]

In [31]:
df = df.drop(df.columns[[6]],axis=1)
df.to_csv('/Users/jinxuanchen/Desktop/room_1.txt',sep = ',',header=0,index=0)

In [2]:
import numpy as np

In [18]:
room_data = np.load('/Users/jinxuanchen/Files_Local/pointnet/test/Pointnet_Pointnet2_pytorch/data/stanford_indoor3d/Area_1_conferenceRoom_1.npy')
room_data[500000]

array([  0.379,   1.637,   3.141, 189.   , 188.   , 193.   ,   0.   ])

In [16]:
room_data2 = np.load('/Users/jinxuanchen/Files_Local/pointnet/Pointnet_Pointnet2_pytorch/data/s3dis/stanford_indoor3d/Area_1_road_1.npy')
room_data2[46171]

array([12.327004, 11.365005,  3.443001, 86.      , 73.      , 82.      ,
        1.      ])